<a href id="image-wrap">
  <%= image_tag("unclebrutha.png") %>
</a>

<div id="hero-wrap" class="hide">
  <div id="i-want-this">
    <h1>Description</h1>
    <p>Stuff about this hot sauce</p>
    <p>Really, really interesting facts.</p>
    <p>About hot sauce, no seriously, head explosion.</p>
  </div>

  <div id="buy-this">
<!--     <h1>Buy this now</h1>
    <p>You know you want it</p> -->
    <h1>Price: $7.99 / Bottle</h1>
  </div>  

  <div id="payment-wrap">
    <span>Check out with</span> <span><%= image_tag("paypal.jpeg") %></span>
  </div>

  <div id="payment-wrap">
    <span>Check out with</span> <span><%= image_tag("stripe.png") %></span>
  </div>
</div>